/* Estilos generales para el cuerpo de la página */
body {
  background-color: #0D1117; 
  color: #ffffff; 
}

/* Estilos para un separador visual */
.separator {
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.1); 
  margin: 0.5rem 0;
  border: none; 
}

/* Estilos para los elementos de un menú desplegable al pasar el ratón */
.dropdown-item:hover {
  background-color: #6c757d !important; 
  color: white !important; 
}

/* Estilos para las tarjetas */
.card {
  background-color: #161B22; 
  border: none; 
  border-radius: 0.625rem; 
}

/* Estilos para los botones primarios */
.btn-primary {
  background-color: #2d3748; 
  border: none;
  width: 100%; 
}

/* Estilos para los botones primarios al pasar el ratón */
.btn-primary:hover {
  background-color: #4a5568; 
}

/* Estilos para los campos de formulario */
.form-control {
  background-color: #adadad; 
  border: 0.0625rem solid #4a5568; 
  color: #ffffff; 
}

/* Estilos para los campos de formulario al estar enfocados */
.form-control:focus {
  background-color: #2d3748; 
  border-color: #667eea;
  color: #ffffff; 
}

/* Estilos para los elementos de preguntas frecuentes (FAQ) */
.faq-item {
  cursor: pointer; 
  color: #355aff; 
}

/* Estilos para los elementos de preguntas frecuentes al pasar el ratón */
.faq-item:hover {
  text-decoration: underline;
}

/* Estilos para la caja del chatbot */
.chatbot-box {
  background-color: #adadad; 
  padding: 0.625rem; 
  border-radius: 0.3125rem; 
  height: 7.5rem; 
  overflow-y: auto; 
}

/* Estilos para los botones con clase 'bttn' */
.bttn {
  padding: 0.625rem; 
}

/* Estilos para los encabezados h3 */
h3 {
  color: white;
}

/* Estilos para las etiquetas de los formularios */
.form-label {
  color: white; 
}

/* Estilos para el pie de página */
footer {
  background-color: #202020; 
  height: 100%; 
}

/* Estilos para la primera sección del pie de página */
.footer-1 {
  font-size: 2rem; 
  color: #CCCCCC; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 1%; 
  width: 90vw; 
  margin: 0 auto; 
}

/* Estilos para el contenedor principal del pie de página */
.footer-container {
  padding-top: 2%;
  font-size: 2rem;
  color: #CCCCCC; 
  margin: 0 auto; 
  width: 90vw; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

/* Estilos para el contenedor de texto */
.text-container {
  font-size: 0.8125rem;
  width: 90vw; 
  color: #CCCCCC; 
  margin: 0 auto; 
  padding-top: 2%; 
}

/* Estilos para el contenedor de descripción */
.dsc-container {
  display: flex; 
  flex-direction: row; 
  gap: 2%; 
  padding-bottom: 2.5%; 
}

/* Estilos para las columnas del pie de página */
.columnc {
  font-size: 0.8125rem; 
  color: #e7e7e7; 
  display: flex; 
  flex-direction: column; 
}

/* Estilos para los elementos dentro de las columnas */
.columnc span {
  padding-bottom: 7%; 
}

/* Estilos para el texto de derechos de autor */
.rights {
  padding-top: 3%; 
  font-size: 0.71rem; 
  width: 45vw; 
  line-height: 1.5625rem; 
}

/* Estilos para los elementos del pie de página al pasar el ratón */
footer span:hover {
  color: #0078E5; 
  transition: 0.1s ease;
}

/* Estilos para la sección inferior del pie de página */
.footer-bottom {
  padding-top: 2%; 
}

/* Estilos para los enlaces de la sección inferior del pie de página */
.footer-bottom-links {
  display: flex; 
  gap: 2%; 
}

/* Estilos para los íconos de la sección inferior del pie de página */
.footer-bottom-icons {
  display: flex; 
  gap: 2%; 
}