/* Reset básico para eliminar márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo de la página */
body {
    font-family: "Open Sans", sans-serif, arial;
    background-color: #121212;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
}

/* Estilos para listas */
li {
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Estilos para la barra de navegación */
.navbar {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: #2A2A2A;
    color: #fff;
    width: 100%;
}

/* Estilos para los enlaces de la barra de navegación */
.nav-links a {
    color: #CCCCCC;
}

/* Estilos para el logo en la barra de navegación */
.logo {
    display: flex;
    align-self: center;
    width: 70px;
}

/* Estilos para el menú de navegación */
.menu {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de inicio de sesión */
.sign:hover {
    background-color: #0078E5;
    transition: 0.3s ease;
}

/* Estilos para los elementos del menú */
.menu li {
    position: relative;
    font-size: 9.5px;
}

/* Estilos para el texto "STORE" en la barra de navegación */
.store {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: #CCCCCC;
}

/* Estilos para el contenedor de la barra de navegación secundaria */
.nav {
    width: 100vw;
    display: flex;
    background-color: #121212;
    height: 5%;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

/* Estilos para el contenedor del campo de búsqueda */
.input-container {
    position: relative;
    left: 10vw;
    display: flex;
    justify-content: center;
    margin: 30px;
    height: 40px;
}

/* Estilos para el icono de búsqueda */
.nav i {
    position: relative;
    left: 25px;
    bottom: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #CCCCCC;
    font-size: 12.75px;
    font-weight: 12.75;
    padding: 0;
    align-items: center;
}

/* Estilos para el campo de búsqueda */
.input {
    border-radius: 20px;
    border: none;
    padding-left: 40px;
    background-color: #202020;
    color: #CCCCCC;
    outline: none;
    min-width: 14vw;
    max-width: 16vw;
}

/* Estilos para los enlaces de la barra de navegación secundaria */
.dsc {
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    color: #CCCCCC;
}

/* Estilos para el contenedor de los enlaces de la barra de navegación secundaria */
.abc {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 13.5vw;
    margin: 30px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    width: 59.08px;
    font-size: 14px;
    cursor: pointer;
    padding-left: 30px;
}

/* Estilos para el contenido principal */
.content-c {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 0px;
}

/* Estilos para el carrusel de imágenes */
.carousel {
    height: 100%;
    width: 79%;
    border-radius: 20px;
    overflow: hidden;
}

/* Estilos para el contenedor de imágenes del carrusel */
.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Estilos para las imágenes del carrusel */
.image-container img {
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el contenido lateral */
.side-content {
    display: flex;
    color: #F5F5F5;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
}

/* Estilos para los componentes del contenido lateral */
.side-component {
    display: inline-flex;
    border-radius: 15px;
    background-color: #121212;
    align-items: center;
    height: 16%;
}

/* Estilos para las imágenes de los componentes laterales */
.side-component img {
    border-radius: 15px;
    width: 16%;
    margin: 2vh;
}

/* Estilos para las imágenes dentro del carrusel */
.imgsi {
    min-width: 100%;
    height: 100%;
    position: relative;
}

/* Estilos para los elementos superpuestos en las imágenes del carrusel */
.imgsin {
    display: flex;
    position: absolute;
    left: 6%;
    top: 10%;
    height: 30%;
    top: 25%;
    height: 25%;
}

/* Estilos para las imágenes dentro de los elementos superpuestos */
.imgsin img {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}

/* Estilos para la descripción superpuesta en las imágenes del carrusel */
.imgsindsc {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    top: 45%;
    left: 5%;
    color: #F5F5F5;
    width: 35%;
    font-size: 1.2rem;
    top: 55%;
}

/* Estilos para el precio y botón de compra superpuestos en las imágenes del carrusel */
.imgsinprice {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    color: #F5F5F5;
    left: 5%;
    gap: 3vh;
}

/* Estilos para el botón de compra */
.imgsinprice a {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 7vh;
    border-radius: 5px;
}

/* Estilos para el pie de página */
footer {
    background-color: #202020;
    height: 100%;
}

/* Estilos para la primera sección del pie de página */
.footer-1 {
    font-size: 32px;
    color: #CCCCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    width: 90vw;
    margin: 0 auto;
}

/* Estilos para el contenedor del pie de página */
.footer-container {
    padding-top: 2%;
    font-size: 32px;
    color: #CCCCCC;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos para el contenedor de texto del pie de página */
.text-container {
    width: 90vw;
    color: #CCCCCC;
    margin: 0 auto;
    padding-top: 2%;
}

/* Estilos para el contenedor de columnas en el pie de página */
.dsc-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-bottom: 2.5%;
}

/* Estilos para las columnas del pie de página */
.columnc {
    font-size: 13px;
    color: #e7e7e7;
    display: flex;
    flex-direction: column;
}

/* Estilos para los elementos dentro de las columnas del pie de página */
.columnc span {
    padding-bottom: 7%;
}

/* Estilos para el texto de derechos de autor */
.rights {
    padding-top: 3%;
    font-size: 11.36px;
    width: 45vw;
    line-height: 25px;
}

/* Estilos para los enlaces del pie de página al pasar el ratón */
footer span:hover {
    color: #0078E5;
    transition: 0.1s ease;
}